@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Poppins:wght@200;300;500;600&display=swap');
.top-nav{
    margin-left: auto;
    gap: 1rem;
}



.nav-link{
    font-family: 'Poppins';
    font-size: 1rem;
    
}
.linking{
    font-size: 1.125rem;
    font-weight: 600;
    font-style: normal;
}
.link{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.login{
    margin-left: 1rem;
    background-color: #2B4F6D;
    color: #fff;
}
.log-in{
    font-weight: 500;
}
.login:hover{
    background-color: #2B4F6D;
}
.login:active{
    background-color: #2B4F6D;
}
.main-image{
    width: 100%;
    height: auto;
   
}
.btn{
    width: 100%;
    border-radius: 8px;
    margin-right: 2rem;
}

@media screen and (max-width: 1120px) {
    
    .main-image{
        max-width: 100% ;
        height: auto;
        
    }
}
.info{
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
    margin-left: 10px;
    padding: 1rem;
    background: linear-gradient(180deg, rgba(78, 135, 140, 0.4) 463.73%, rgba(21, 50, 67, 0) 668.75%);
}
 
.announce-text, .announce-notice{
    color: #4E878C;
    font-weight: 500;
    margin: 1rem;
}
.announce-notice{
    
    font-size: 16px;
    
}
.announce-text{
    font-size: 20px;
}
.prospectus{
    
    margin-left: auto;
    margin-right: 1rem;
}
.pros{
    
    color: #fff;
    padding: 12px 36px;
    font-family: 'DM Sans',;
    background-color: #4E878C;
    border-radius: 4px;
    border: none;
    font-weight: 700;
}
.brief-intro{
    margin-top: 30px;
}
.brief-intro-title{
    text-align: center;
    font-family: 'DM Sans';
    font-weight: 500;
    margin-top: 30px;
    padding-top: 10px;
    font-size: 36px;
    line-height: 47px;
}
.brief-des{
    margin-top: 4rem;
    border-radius: 8px;
    margin-bottom: 4rem;
    box-shadow: 0px 0px 30px #E5E5E5;
}
.brief-des img{
    margin-top: 30px;
    
}
.brief-des p{
    margin-top: 26px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    text-align: center;

}

.about{
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 24px;
    color: #4E878C;
    padding-top: 2rem;
}
.more-about-araniko{
    font-family: 'DM Sans';
    font-size: 36px;
    font-weight: 700;
    color: #333;
}
.card-img-top{
    text-align: left;
    background-color: #4E878C;
}
.add-color{
    background-color: #4E878C;
    color: white;
}
.our-intro{
    font-family: 'DM Sans' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    align-items: left;
    margin-left: 5px;
}
.card-img{
    position: relative;
    
    

}

.text-card{
    
position: absolute;
bottom: 0;
background-color: rgba(21, 50, 67, 0.6);
width: 100%;
text-align: left;
color: white;
padding: 10px;
margin-bottom: 0;




}
.card{
    border: none;
}
.card-head{
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    margin-left: 15px;
}
.card-body{
    text-align: left;
    font-family: 'DM Sans';
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #555555;
    

}
.read-more{
    font-size: 20px;
    font-weight: 500;
    color: #4E878C;
    margin-left: 15px;
    
}
.read-more{
    border: 0px;
}
.fas{
    margin-left: 10px
}
.container{
    margin-top: 1.5rem;
}
.vision, .mission{
    border-radius: 8px;
    box-shadow: 0px 0px 30px #E5E5E5;
    padding: 3rem;
}
.mission{
    background-color: #4E878C;
    color: #fff;
}
.what-we-see-one{
    margin-top: 1rem;
    font-family: 'DM Sans';
    font-weight: 400;
}
.what-we-see{
    margin-top: 1rem;
    font-size: 1rem;
    font-family: 'DM Sans';
    font-weight: 400;
    
}
.cources{
    margin-top: 35px;
}
.join{
    background-color: #4E878C;
}
.lets-start{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    margin: 3rem 30px;
    padding: 10px;
    color: #fff;
}
.join-us{
    text-align: center;
}
.bba, .bca{
    border: none;
    margin: 10px;
    margin-top: 0;
    font-weight: 700;
    font-size: 24px;
    padding: 14px 72px;
    border-radius: 8px;
    margin-bottom: 50px;
    margin-top: 25px;
}
.bba{
    background-color: #153243;
    color: #fff;
}
.bca{
    background-color: #fff;
    color: #153243;
}
.our-cource{
    background-color: #153243;
    padding: 30px;
}
.BBA, .BCA{
    
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 8px;
    text-align: left;;
    display: flex;
    

}
.bca-title, .bba-title{
    font-size: 32px;
    font-family: 'DM Sans';
    font-weight: 700;
    
}
.bca-description, .bba-description{
    font-size: 16px;
    font-family: 'DM Sans';
    font-weight: 500;
    
}
.verify{
    margin-top: 15px;
    font-size: 4rem;
}
.cource-section{
    margin-left: 2rem;
}
.prof-name{
    border: none;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 24px;
}
.prof-des{
    border: none;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 20px;
}
.card{
    border: none;
}
.instructor{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 31px;
color: #4E878C;

}
.team{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 47px;
}
.our-words{
    padding: 2rem;
    border:  1px solid #4E878C;
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgba(147, 229, 171, 0.1);
}
.our-stories{
    padding: 2rem;
}
.stories-title{
    font-size: 36px;
    font-weight: 700;
    font-family: 'DM Sans';
    color: #4E878C;
    margin-top: 2rem;
}
.stories-description{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.quotation{
    font-size: 4rem;
    font-family: 'DM Sans';
    font-weight: 700px;
}
.story-of-college{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.prachan{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
}
.prachan-description{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #555555;
}
.yoga{
    margin-top: 9rem;
    
}
.sports{
    background-color: rgba(21, 50, 67, 0.6);
    border-radius: 8px;
    text-align: center;
    
}
.our-classroom{
    width: 100%;
    background-color: rgba(21, 50, 67, 0.6);
    padding: 5rem;
    
}
.our-sports{
    padding: 5rem;
}
.sports-img{
    margin-top: 30px;
}

.events-activities{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #333333;
}
.extra-curriculum{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #4E878C;
}


.contact-us{
    background-color: #4E878C;
    margin-top: 2rem;
}
.footer{
    text-align: center;
    padding: 1rem;
    font-family: 'DM Sans';
    color: #fff;
}
.college-events{
    background-color: rgba(21, 50, 67, 0.6);
}
.events{
    margin: 10rem;
}
.more-about-us{
    background-color: #4E878C;
    margin: 20px;
    border: 0px;
}
hr{
    border-bottom: 2px solid #1C4761;
}
.our-contacts{
    background-color: #4E878C;
    border: 0px;
    font-size: 25px;
    font-family: 'DM Sans';
    color: #fff;
}
.card-item{
    background-color: #4E878C;
    border: 0px;
    color: #fff;
    font-size: 20px;
    font-family: 'DM Sans';
}

.icons{
    width: 40px;
    border-radius: 8px;
}
.social-sites{
    text-decoration: ;

}




